/*
    Green:      #54be90
    Light Grey: #ebebeb
    Dark Grey:  #232323
    Grey Text:  #444444
*/

* {
    box-sizing: border-box;
}

body {
    background-color: #ebebeb;
    font-family: 'Lato', sans-serif;
}

.container {
    width: 960px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

#header {
    display: flex;
    font-size: 0;
    height: 5rem;
}

#logo {
    width: 200px;
    display: inline-block;

}

nav {
    display: flex;
    flex-flow: row wrap;
    background-color: #232323;
    font-size: 0;
    color: white;
    display: inline-block;
    width: calc(100% - 200px);
    height: 3rem;

}

nav ul {
    padding: 0px;
    margin: 0;
    width: 100%;

}

nav li {
    display: inline-block;
    padding: 1rem;
    margin: 0;
    font-size: 1rem;
    list-style-type: none;
    width: 20%;
    text-align: center;
    border-left: 1px solid lightgray;
}

nav li:first-child {
    border: none;
}

#banner {
    padding: 3rem;
    height: 400px;
    margin-top: 50px;
    background-image: url('../img/sun.jpg');
    background-size: cover;
}

#banner .greeting {
    font-size: 240%;
    font-weight: bold;
    color:  white;
    text-align: center;
    text-decoration: underline;
    text-shadow: 4px 3px black;
}

#banner .whoiam {
    font-size: 180%;
    font-weight: normal;
    color: white;
    text-align: center;
    text-shadow: 4px 3px black;
}

#info {
    padding: 2rem 2rem;
    text-align: center;
    background-color: #f1b57d;
    padding: 20px;
    font-size: 16pt;
    text-align: center;
}

#promo {
    font-size: 0;
    padding: 2rem 1rem;
    background-color: #232323;
    color: white;
    text-align: left right;
    padding: 0px;
    padding-bottom: 15px;
    padding-right: 25px;
}
.bottom{
    height: 100px;
    width: 200px;
    background-color: #f1b57d;
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
    margin-bottom: 20px;
}

.bottom1 {
    height: 100px;
    width: 200px;
    background-color: #f1b57d;
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
    margin-bottom: 20px;
}

.bottom2 {
    height: 100px;
    width: 200px;
    background-color: #f1b57d;
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
    margin-bottom: 20px;
}

.bottom3{
    height: 100px;
    width: 200px;
    background-color: #f1b57d;
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
    margin-bottom: 20px;
}

#promo > .column {
    font-size: 1rem;
    display: inline-block;
    width: 25%;
    padding: 0rem 2rem;
    text-align: center;
    vertical-align: top;
}

#promo > .column .heading {
    font-size: 150%;
    font-weight: bold;
    margin-bottom: 1rem;
}

#skills {
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    border-style:none;
    align-items: center;
    padding-bottom: 50px;
}

.myskills {
    font-size: 50px;
    border: 5px #943c1c;
    border-style: solid;
    background-color: #b86660;
    margin: auto;
    width: 60%;
    padding: 20px;
}
.bars{
    width: 80%;
}
.bar {
    background-color: rgb(103, 71, 118);
    height: 2rem;
    width: 100%;
    margin: 5px 0;
    display: flex;
    align-items: center;
}
.label{
    background-color: black;
    color: white;
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
}
.progress {
    background-color:#943c1c;
    width: 70%;
    height: 100%;
    font: bold;
}
.remaining{
    text-align: right;
    flex-grow: 1;
}
.percent{
    color: white;
    margin-right: 5px;
}
.progress1 {
    background-color:#943c1c;
    width: 60%;
    height: 100%;
    font: bold;
}
.progress2 {
    background-color:#943c1c;
    width: 50%;
    height: 100%;
    font: bold;
}
.progress3 {
    background-color:#943c1c;
    width: 40%;
    height: 100%;
    font: bold;
}

#portfolio {
    background-color: #f1b57d;
    padding: 2rem 4rem;
    text-align: center;
}

#portfolio h1 {
    color: black;
}

.cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.card {
    width: 32%;
    background-color: white;
    padding: 8px;
    margin-bottom: 1rem;
    cursor: pointer;
}
.card:hover {
    background-color: #943c1c;
}
.card .preview {
    width: 100%;
    height: auto;
}
.card .body {
    background-color: #b86660;
    padding: 1rem;
    font-size: 14px;
    height: 150px;
}